* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-style: italic;
    background: linear-gradient(to bottom, #092549, black);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

h1, h2, p {
    margin-bottom: 15px;
    text-align: center;
}

h1{
    color: #bb1c1c;
    font-size: 4.0em;
}

h2{
    color: white;
    font-style: italic;
    font-size: 1.5em;
}

p{
    color: white;
    font-family: cursive;
    font-size: 1.5em;
} 

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="number"]{
    padding: 15px;
    width: 35%;
    margin-right: 30px;
    border: black solid 1px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 75px;
    /* font-weight: bold; */
    font-style: italic;
}

button {
    padding: 10px;
    width: 150px;
    background-color: green;
    color: white;
    border: black solid 1px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

#botaoBranco{
    background-color: white;
    color: red;
    font-weight: bold;
    margin-left: 35%;

}

#botaoVerde{
    background-color: green;
    font-weight: bold;
}

.conteiner-box{
    padding: 15px;
    width: 150%;
    max-width: 900px;
    background-color: #ddcece;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #051a36dd, black);
}