* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(to bottom, #092549, black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-container {
    width: 100%;
    max-width: 400px;
    background-color: #b6b6b6c0;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgb(20, 121, 222);
}


.forgot-password-container h1 {
    font-style: italic;
    font-size: 2.5rem;
    color: #bb1c1c;
    margin-bottom: 10px;
}


.forgot-password-container .description {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: white;
}


.forgot-password-container label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #0e0d0d;
}


.forgot-password-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.forgot-password-container button {
    width: 100%;
    padding: 12px;
    font-style: italic;
    background-color: #0e46ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #1b3d64;
}

.p{
    color: #fff;
}

#email::placeholder{
    font-family:'Times New Roman', Times, serif
}