* {
    padding: 0;
    margin: 0;
}

body { 
    background: linear-gradient(to bottom, #092549, black);
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simbolo{
    margin-left: 350px;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

h2{
    text-align: center; 
    color: white;
    font-size: 1.7em;
}


.artist-section {
    color: white;
    display: flex;
    /* justify-content: flex-end;  */
     flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 20px;
    margin-left: 50px;
}

.artist {
    background-color: #2c2c2c;
    border-radius: 15px;
    margin: 30px;
    padding: 10px; 
    width: 150px;
    text-align: center;
    cursor: pointer;
    /* border-radius: 60%; */
}

.artist-escolhidos {
    text-align: center;
    margin-right: 70px;
    margin-left: 10px;
}

.playlists {
    font-size: 3em;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    gap: 50px;
}

.favorites {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 220px;
    background-color: #7d7171fc;
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-align: center;
    border-radius: 10 10 40px 40px; /* Arredonda os dois cantos inferiores (as duas partes de baixo de um quadrado éb os dois número no final */
}
img {
    width: 100%;
}

.imagem-redonda {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container-artist {
    display: flex;
    gap: 10px;
}

.container-img {
    width: 150px;
    height: auto;
}

.music-info {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.music-info h3 {
    margin-top: 0;
}

.music-info p {
    margin-bottom: 0;
    font-size: smaller;
}

.music-info img {
    width: 50px;
    height: auto;
}

.barra-lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px; 
    background-color: rgba(51, 51, 51, 0.8); 
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    padding: 15px 0; 
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center icons and images */

    padding: 4px;
}

.img-arredondada {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.icon {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s;
}

.icon img {
    width: 35px; 
    height: 35px;
    border-radius: 50%; 
    margin-bottom: 5px; 
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
}


.imagem-esquerda {
    /* float: left; */
    width: 40px; /* Ajuste o valor conforme necessário */
    margin-right: 10px;
    display: block; /* Faz a imagem ocupar toda a largura da linha */
    margin-top: 15px; /* Adiciona espaço acima da imagem */
    display: block;
    margin-top: 15px; 
}

.artistt {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    padding-top: 5px; /* Adiciona espaço acima do texto */
    margin-left: 10px; /* Aumenta a distância à esquerda */
    margin-right: 10px; /* Aumenta a distância à direita */
    letter-spacing: -0.12px; /* Ajusta o espaçamento entre letras */
}

.artistt img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.search-input {
    height: 20px;
    padding: 5px; /* Espaçamento interno */ 
    border-radius: 5px; /* Bordas arredondadas */
    width: 220px; /* Largura do campo */
    font-size: 13px; /* Tamanho da fonte */
    /* display: block; */
    justify-content: center;
    margin-top: 70px;
    margin-left: 400px;


    font-size: 16px;
    width: 300px; /* Largura do campo de pesquisa */
    border-radius: 25px;
    border: 1px solid #ccc;
  }


input {
    margin-top: 50px;
    border-radius: 10%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 470px;
}

.logo{
    margin-top: 1px;
    padding: 5px;
    border-radius: 5px;
    width: 15px;
    margin-left: 30px;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
}