*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(to bottom, #092549, black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #bb1c1c;
    /* font-family: "Oleo Script Swash Caps", system-ui; */
    font-weight: 400;
    font-style: normal;
}

.login-container{
    background-color: #bcbcbcc0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(20, 121, 222);
    padding: 50px;
    width: 400px;
    text-align: center;
}

p{
    color: black;
}

a{
    color: white;
}

button{
    background-color: #535353;
    color: white;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
}

button:hover {
    background-color: #1b3d64; /* Mudar a cor qnd passar o mouse por cima */
}

input{
    border-radius: 30px;
    padding: 5px;
    font-weight: bold;
} 