body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
 
.container { 
  flex: 1;
  padding: 20px;
} 

footer {
  background: linear-gradient(to bottom, #092549, black);
  color: #fff;
  text-align: center;
  padding: 20px 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
}

footer p {
  margin: 0;
}

/* Barra superior fixa */
.topo-fixo {
  background: linear-gradient(to bottom, #092549, #092549);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;  /* Ajuste do padding para o header */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 65px;
  z-index: 10;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3.4em; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  margin-left: -50px;
  margin-top: 5px;
  font-family: "Abril Fatface", serif;
  font-weight: 200;
  font-style: normal;
  }
  

/* Ajuste para a seta de voltar */
.seta {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 15;
}

.seta img {
  width: 50px; /* Ajuste o tamanho da seta */
  height: auto;
}

/* Estilo para as músicas */
.popular-songs h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  cursor: pointer;
  margin-top: 20px;
}

li:hover {
  background-color: #333;
}

.title {
  flex: 2;
  font-weight: bold;
}

.plays, .duration {
  flex: 1;
  text-align: right;
}

.plays {
  font-size: 0.8em;
  margin-top: 10px;
}

.play-button {
  margin-top: 10px;
  background: none;
  color: #28dac2;
  padding: 7px 3px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.play-button:hover {
  background-color: #2cd478;
  color: #fff;
}

.artist1 {
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  /* text-align: left; */
  margin-top: 50px;
  margin-left: -80px;
}

.artist2 {
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  /* text-align: left; */
  margin-top: 50px;
  margin-left: -90px;
}

.artist3 {
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  /* text-align: left; */
  margin-top: 50px;
  margin-left: -95px;
}

.artist4 {
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  /* text-align: left; */
  margin-top: 50px;
  margin-left: -160px;
}

.artist5 {
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  /* text-align: left; */
  margin-top: 50px;
  margin-left: -130px;
}

.artist6 {
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  /* text-align: left; */
  margin-top: 50px;
  margin-left: -175px;
}

.artist7 {
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  /* text-align: left; */
  margin-top: 50px;
  margin-left: -95px;
}

.song-info {
  display: flex;
  flex-direction: row; 
  align-items: center;  
}

.capa-musica {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 15px;
  object-fit: cover; 
  margin-top: 20px;
}