*{
    margin: 0;
    padding: 0;
}

body{
    font-weight: bold;
    margin: 0;
    padding: 20px;
    background-color: #c77de4d0;
}

.seta{
    position: fixed;
    left: 10px;    /* distância do lado esquerdo */
    top: 10px;     /* distância do topo */
}

.container-muscCurtidas{
    margin: 10px 0;
    padding: 10px;
}

.container-muscCurtidas img{
    width: 650px;
    height: auto;
    margin-right: 30px;
    background-color: #515050;
    border-radius: 15px;
    margin: 10px;
    padding: 10px; 
    width: 100px;
    text-align: center;
    cursor: pointer;
}

p{
    margin-left: 10px;
}