* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #adacc7;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.artist-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.artist {
    background-color: #2c2c2c;
    border-radius: 15px;
    margin: 30px;
    padding: 10px; 
    width: 150px;
    text-align: center;
<<<<<<< HEAD
    cursor: pointer;
    /* border-radius: 60%; */
}
 
.artist-escolhidos{
=======
}

.artist-escolhidos {
>>>>>>> f94dee175bd8aac56b8af7eb8e9a1a1a5ca90694
    text-align: center;
    margin-right: 70px;
}

.playlists {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.favorites {
    position: fixed; /* Mantém o container fixo na tela */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da borda direita */
    width: 220px; /* Largura do container */
    background-color: #2c2c2c; /* Cor de fundo */
    padding: 10px; /* Preenchimento interno */
    color: white; /* Cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: center;
}
img {
    width: 100%;
}

.imagem-redonda {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container-artist {
    display: flex;
    gap: 10px;
}

.container-img {
    width: 150px;
    height: auto;
}

input {
    margin-top: 50px;
    border-radius: 10%;
    font-size: 17px;
}

.music-info {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.music-info h3 {
    margin-top: 0;
}

.music-info p {
    margin-bottom: 0;
    font-size: smaller;
}

.music-info img {
    width: 50px;
    height: auto;
}

.barra-lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px; /* Slightly wider for better spacing */
    background-color: rgba(51, 51, 51, 0.8); /* Added transparency */
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
<<<<<<< HEAD
    padding: 15px 0; /* Added padding for better spacing */
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center icons and images */
=======
    padding: 10px;
}

.img-arredondada {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.icon {
    display: block;
    text-align: center;
>>>>>>> f94dee175bd8aac56b8af7eb8e9a1a1a5ca90694
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s; /* Smooth background change */
}

.icon img {
    width: 35px; /* Consistent image width */
    height: 35px; /* Consistent image height */
    border-radius: 50%; /* Round images */
    margin-bottom: 5px; /* Space between icon and image */
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
    border-radius: 10px; /* Slightly round corners on hover */
    padding: 5px; /* Add padding on hover for effect */
}


.imagem-esquerda {
    float: left;
    width: 40px; /* Ajuste o valor conforme necessário */
    margin-right: 10px;
<<<<<<< HEAD
    display: block; /* Faz a imagem ocupar toda a largura da linha */
    margin-top: 15px; /* Adiciona espaço acima da imagem */
  }
=======
    display: block;
    margin-top: 15px; 
}

.artistt {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    padding-top: 5px; /* Adiciona espaço acima do texto */
    margin-left: 10px; /* Aumenta a distância à esquerda */
    margin-right: 10px; /* Aumenta a distância à direita */
    letter-spacing: -0.12px; /* Ajusta o espaçamento entre letras */
  
}

.artistt img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.search-input {
    padding: 1.3px; /* Espaçamento interno */
    border: 1px solid #000000; /* Cor da borda */
    border-radius: 5px; /* Bordas arredondadas */
    width: 220px; /* Largura do campo */
    font-size: 16px; /* Tamanho da fonte */
    transition: border-color 0.2s; /* Transição suave na mudança de cor */
}
>>>>>>> f94dee175bd8aac56b8af7eb8e9a1a1a5ca90694
