*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 60px;
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;             /* necessario para o posicionamento absoluto */
    background-color: #5d5bc0;
    /* margin: 0; */
}

.progress-container{
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    margin: 20px 0;  
}

.conteiner-player{
        background-color: #979393;
        border-radius: 20px;
        padding: 20px;
        max-width: 400px;
        margin-left: auto;
        position: relative; /* Para manter o contexto do posicionamento absoluto */
        float: left; /* Faz o contêiner flutuar à esquerda */
        margin-top: 20px;
    }

.song-info{
    text-align: center;
    margin-bottom: 30px;
}

.song-info h1{
    font-size: 24px;
    margin: 10px 0;
}

.song-info p{
    font-size: 18px;
    color: #fff;
}

.controls{
    /* display: flex; */
    justify-content: center; 
    gap: 10px;
    margin-bottom: 20px;
}

button{
    background-color: green;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s;
    margin-left: 14%;
}

button:hover{
    background-color:  blue;
}

.lyrics{
    padding: 20px;
    line-height: 1.5;  
    position: absolute;     /* posicionar a letra de forma absoluta */
    right: 140px;      /* alinhar para esquerda */
    top: 200px;         /* deixar no meio */
    color: white;
}

.lyrics p{
    margin: 17px 0;    /* Adicione espaço entre as linhas */
    color: #979393;
    font-style: italic;
}

input{
    margin-top: 15px;
    border-radius: 9%;
    font-size: 18px;
    color: #333;
    line-height: 11px;
}